@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.Post-Container{
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 400px;
    border: 2px grey solid;
    border-radius: 5px;
    background-color: white;
    margin: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.post-title{
    font-size: larger;
    font-weight:bolder;
    margin-top: 30px;
    margin-bottom: 5px;
}

.post-body{
    margin: 5px;
    margin-bottom: 30px;
}

div.PostInList{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

div.garbage{
    position: relative;
    left: 170px;
    bottom: 100px;
}

div.garbage:hover{
    position: relative;
    left: 170px;
    bottom: 100px;
    
    transform: translateY(-6px);
    box-shadow: grey;
}