@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

.SocialPosts{
    font-family: 'Homemade Apple', cursive;
    font-size:x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid black 2px; */
    justify-content: center;
}

button{
    font-family: 'Dosis', sans-serif;
    font-size: larger;
    font-weight: bolder;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    background-color: #03a9f4;
    margin-bottom: 20px;
}

/* .Post-Container{

} */
